{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <article class="col-md-3">
                <h3 class="text-center">La boutique de Lyvia</h3>



            </article>

            <article class="col-md-12">
                <h3 class="text-center">Panier</h3>
                <div class="row d-flex justify-content-between">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Quantité</th>
                                <th>Prix</th>
                                <th>Total</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td class="lp-td">{{ item.product.name }}</td>
                                    <td>
                                        <a href="{{ path('cart_ajouter', {id : item.product.id}) }}" class="lp-quant">+</a>
                                        <span class="lp-quant-number">{{ item.quantity }}</span>
                                        <a href="{{ path('cart_remove', {id : item.product.id}) }}" class="lp-quant">-</a>
                                    </td>
                                    <td>{{ item.product.price  | number_format(2,',' ,'.')}} €</td>
                                    <td>{{ item.product.price * item.quantity  }} €</td>
                                    <td>


                                        <a href=" " class="lp-quant">x</a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>le panier est vide</tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="lp-td-right" colspan="3">Total</td>
                                <td>{{ total | number_format(2,',' ,'.')}} €</td>
                                <td> <a href="{{ path('cart_empty') }}" class="lp-quant">vider</a></td>
                            </tr>
                            </tfoot>
                        </table>
                        <a href="{{ path('app_order_index') }}" class="btn lp-btn">Valider le panier</a>
                </div>
                </div>
            </article>



        </div>
    </section>
{% endblock %}
