{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
    <h1 class="text-center">Mes commandes</h1>
    <div class="container">

    <p class="text-center"><strong>Ceci est votre espace personnelle, vous allez pouvoir gérer vos commandes</strong></p>
    <hr>
    {% if commandes|length == 0 %}
        <div class="lp-border">
        <p class="text-center">vous n'avez pas de commandes.</p>
        <a class="lp-btn my-5 mx-2" href="{{ path('boutique_index') }}">Ajouter une commande</a>
        </div>
    {% else %}

    <div class="w-50 lp-border mb-5">
            <table class="table">
                <thead>

                <tr>
                    <th scope="col">passée le </th>
                    <th scope="col">Référence</th>
                    <th scope="col">Produits</th>
                    <th scope="col">Total (hors fraits de port)</th>
                    <th scope="col">règlée</th>
                </tr>
                </thead>
                <tbody>
                {% for commande in commandes %}
                <tr>
                    <th scope="row">{{ commande.createdAt|date('d/m/y') }}</th>
                    <td><a href="{{ path('app_order_recap', {'reference': commande.reference}) }}">{{ commande.reference }}</a></td>
                    <td>{{ commande.orderDetails|length }}</td>
                    <td>{{ commande.totalPrice}}</td>

                   {%  if commande.isPaid == 1%}
                    <td><span class="badge-success">payée</span></td>
                {%  else%}
                    <td><span class="badge-danger">non payée</span></td>
                {% endif %}
                </tr>
        {% endfor %}
                </tbody>
            </table>
    </div>
    {% endif %}

    <br>
    <a  class="lp-btn my-5 mx-2 href="{{ path('account') }}">Retour dans mon compte</a>




{% endblock %}