{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    <h1 class="text-center">Mon compte</h1>
<div class="container">
    <section class="lp-border mt-5 mx-auto">
    Bienvenue  dans votre espace personnel <strong>{{ app.user.firstName }}</strong>.
<br>
    Adresse mail : {{ app.user.email }}
<br>
        Mes adresses  : <a href="{{ path('account_address') }}">mes adresses </a>
    <br>
    Mes commandes  : <a href="{{ path('account_order') }}">mes commandes </a>
    <br>
    <br>
    <a class="lp-btn my-5 mx-2" href="{{ path('account_password') }}">Modifier mon mot de passe</a>
    <br><br>
    <a class="lp-btn my-5 mx-2" href="{{ path('app_logout') }}">Déconnexion</a>
    </section>
</div>

{% endblock %}
