{% extends 'base.html.twig' %}

{% block title %}Hello Home{% endblock %}


{% block body %}
    {% for message in  app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
<section>
    {% for product in products %}
    <article>
        <ul>
            <li><img src="{{ asset('assets/uploads/' ~ product.picture) }}" alt=""></li>
            <li><em>{{ product.category.name }}</em></li>
            <li><h3>{{ product.name }}</h3></li>
            <li><p>{{ product.price }} €</p></li>
            
        </ul>
    </article>
    
    {% endfor %}
</section>


{% endblock %}
