
<a href="boutique/le-hasard-sur-le-toit-broche">
    <img  class="lp-home-hasard lp-roman-home" src="{{ asset('assets/uploads/hasard-sur-le-toit.png') }}" alt="Roman Hasard sur le toit de Lyvia Palay" />
</a>
<a href="boutique/roman-trio-de-choc-de-lyvia-palay-format-broche">
    <img  class="lp-home-trio lp-roman-home" src="{{ asset('assets/uploads/trio-de-choc.png') }}" alt="Roman Trio de choc de Lyvia Palay" />
</a>
<a href="boutique/roman-duo-de-choc-de-lyvia-palay">
    <img  class="lp-home-duo lp-roman-home" src="{{ asset('assets/uploads/duo-de-choc.png') }}" alt="Roman Duo de choc de Lyvia Palay" />
</a>

<a href="boutique/tilou-au-pays-du-soleil-levant">
    <img  class="lp-home-soleil lp-children-home" src="{{ asset('assets/uploads/Nathan-et-tilou-soleil-levant.png') }}" alt="Tilou au pays du soleil levant de Lyvia Palay" />
</a>
<a href="boutique/tilou-au-milieu-des-gondoles">
    <img  class="lp-home-tilou-venise lp-children-home" src="{{ asset('assets/uploads/Nathan-et-tilou-à-venise-home.png') }}" alt="Tilou au milieu des gondoles de Lyvia Palay" />
</a>