
<a href="#">
    <img  class="lp-home-hasard lp-roman-home" src="{{ asset('assets/uploads/hasard-sur-le-toit.png') }}" alt="Hasard sur le toit de Lyvia Palay" />
</a>
<a href="#">
    <img  class="lp-home-trio lp-roman-home" src="{{ asset('assets/uploads/trio-de-choc.png') }}" alt="Hasard sur le toit de Lyvia Palay" />
</a>
<a href="#">
    <img  class="lp-home-duo lp-roman-home" src="{{ asset('assets/uploads/duo-de-choc.png') }}" alt="Hasard sur le toit de Lyvia Palay" />
</a>

<a href="#">
    <img  class="lp-home-soleil lp-children-home" src="{{ asset('assets/uploads/Nathan-et-tilou-soleil-levant.png') }}" alt="Hasard sur le toit de Lyvia Palay" />
</a>
<a href="#">
    <img  class="lp-home-tilou-venise lp-children-home" src="{{ asset('assets/uploads/Nathan-et-tilou-à-venise-home.png') }}" alt="Hasard sur le toit de Lyvia Palay" />
</a>