<section class="container">
    <article class="col">
        <h3 class="text-center my-5">La boutique de Lyvia</h3>
        <div class="row d-flex justify-content-lg-around">
            {% for product in products %}
                <div class="col-md-4 lp-card-product text-center mx-auto my-4">
                    <a href="{{ path('app_product_show', {'slug': product.slug}) }}">
                        <div class="lp-picture">
                            <div class="lp-mask"></div>
                            <img  src="{{asset('assets/uploads/pictures/mini/150x200-' ~ product.pictures[0].urlName) }}"  class="img-fluid" alt="{{ product.name }}">
                        </div>
                        <span class="lp-price" >{{ product.price | number_format(2,',' ,'.')}} €</span>

                        <h4>{{ product.name }}</h4></a>
                    <span class="d-block mt-4">{{ product.category.name }}</span>
                </div>

            {% else %}

                no records found

            {% endfor %}
        </div>
    </article>

</section>