<footer>
    <div class="footer lp-boxshadow">
    <ul>
        <li><a href="{{ path('app_home') }}">accueil</a></li>
        <li><a href="{{ path('boutique_index') }}">Boutique</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
        <li><a href="{{ path('app_mentions_legales') }}">Mentions légales</a></li>

    </ul>
    <ul>
        <li><a href="{{ path('app_bio') }}">Biographie</a></li>
        <li><a href="mailto:lyvia.palay@gmail.com">lyvia.palay@gmail.com</a></li>
        <li><a href="https://www.instagram.com/lyvia_palay/?hl=fr" target="_blank" rel="noreferrer noopener nofollow">@lyvia_palay</a></li>
        <li><a href="http://Romanduodechoc.fr" target="_blank" rel="noreferrer noopener">Romanduodechoc.fr</a></li>
        <li></li>
    </ul>
    </div>
    <div class="copyright">&#169; Lyvia Palay-books 2023 - tous les droits réservés</div>
</footer>