<nav class="navbar navbar-expand-lg lp-background-nav">
    <div class="lp-logo">
       <h2> <a class="navbar-brand" href="{{ path('app_home') }}">Lyvia Palay</a></h2>
    </div>
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse lp-font-title" id="navbarScroll">
            <ul class="navbar-nav my-2 my-lg-0" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('boutique_index') }}">Boutique</a>
                </li>

                {% for cat in cats.getCategories %}
                    {% if cat.category == null  %}
                        <li   class="nav-item nav-item dropdown">
                        <a class="nav-link  {% if cat.parent is not empty %}dropdown-toggle{% endif %}" href="{{ path("app_category_show", { slug: cat.slug, slug: cat.slug }) }}" {% if cat.parent is not empty %}role="button" data-bs-toggle="dropdown" aria-expanded="false"{% endif %} >{{ cat.name }}</a>

                    {% endif %}
                    {% if cat.parent is not empty %}
                        <ul class="dropdown-menu">
                            {% for child in cat.parent %}
                                <li   class="nav-item dropdown"><a href="{{ path("app_category_show", { slug: child.slug, slug: child.slug }) }}">{{ child.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}</li>

                {% endfor %}

                <li class="nav-item"><a class="nav-link lp-search-icon" href="#"><span class="material-icons lp-icon">search</span></a></li>

                {% if app.user %}
                <li class="nav-item"><a class="nav-link" href="{{ path('account') }}"><span class="material-icons lp-icon">account_circle</span></a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Inscription</a></li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('cart_index') }}"><span class="material-icons lp-icon ">shopping_cart</span></a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="lp-search">
    {{ render(controller('App\\Controller\\SearchController::renderSearchForm')) }}
    </form>
</div>
