<ul class="col-2 p-4  mb-1">
    <hr class="lp-color-hr">
    <li><a href="{{ path('admin_blog_index') }}">Les articles</a></li>
        <ul class="px-3 mb-2">
            <li><a href="{{ path('admin_blog_new') }}">Ajouter un nouvel article</a></li>
        </ul>
    <hr class="lp-color-hr">
    <li><a href="{{ path('admin_category_index') }}">Les catégories</a></li>
    <ul class="px-3 mb-2">
        <li><a href="{{ path('admin_category_new') }}">Ajouter une catégorie</a></li>
    </ul>
    <hr class="lp-color-hr">
    <li><a href="{{ path('admin_citation_index') }}">Les citations</a></li>
    <ul class="px-3 mb-2">
        <li><a href="{{ path('admin_citation_new') }}">Ajouter une nouvelle citation</a></li>
    </ul>
    <hr class="lp-color-hr">
    <li><a href="{{ path('admin_product_index') }}">Les produits</a></li>
        <ul class="px-3 mb-2">
            <li><a href="{{ path('admin_product_new') }}">Ajouter un nouveau produit</a></li>
        </ul>
    <hr class="lp-color-hr">
    <li><a href="{{ path('admin_category_product_index') }}">Les catégories produits</a></li>
    <ul class="px-3 mb-2">
        <li><a href="{{ path('admin_category_product_new') }}">Ajouter une nouvelle catégorie produit</a></li>
    </ul>
    <hr class="lp-color-hr">
    <li class="mb-2"><a href="{{ path('admin_comment_index') }}">Les commentaires</a></li>
    <hr class="lp-color-hr">
    <li><a href="{{ path('admin_carrier_index') }}">Les transporteurs</a></li>
    <ul class="px-3 mb-2">
        <li><a href="{{ path('admin_carrier_new') }}">Ajouter un transporteur</a></li>
    </ul>
    <hr class="lp-color-hr">

</ul>