{% extends 'baseAdmin.html.twig' %}

{% block title %}Bonjour {% if app.user %}{{ app.user.firstName }}{% endif %}}{% endblock %}

{% block body %}

    {% if articles %}
    <section class="lp-border mt-5 mx-auto w-50">


    <h2 class="h4">Articles de blog en attente de validation</h2>

    <ul>
    {% for blog in articles %}
   <li>


       <a href="{{ path('admin_blog_edit', {'id': blog.id})}}">{{ blog.title }}</a>
   </li>
        {{ include('admin/blog/_delete_form.html.twig') }}
        <hr>
    {% endfor %}
    </ul>

    </section>
    {% endif %}
    {% if comments %}
    <section class="lp-border mt-5 mx-auto w-50">

        <h2 class="h4">Commentaires en attente de validation</h2>

        <ul>
            {% for comment in comments %}
                <li>
                    {{ comment.user.firstname }} {{ comment.user.lastname }} <br>
                    {{ comment.user.email }} <br>

                    <a href="{{ path('admin_comment_edit', {'id': comment.id})}}">{{ comment.content }}</a>
                </li>
                {{ include('admin/comment/_delete_form.html.twig') }}
                <hr>
            {% endfor %}
        </ul>

    </section>
    {% endif %}

    {% if orders %}
        <section class="lp-border mt-5 mx-auto container">


            <h2 class="h4">Toutes les ventes en cours</h2>


            {% for order in orders %}
                <ul>
                    <li>
                        référence : {{ order.reference }}
                    </li>
                    <li>
                        Date :  {{ order.createdAt|date('d/m/Y') }}
                    </li>
                    <li>
                        payement :  {% if order.isPaid == false %} non payé {% else %} payé {% endif %}
                    </li>
                    Total : {{ order.totalPrice + order.carrierPrice  }} €
                </ul>
                {% for orderDetail in order.orderDetails %}
                    <ul>
                        <li>{{ orderDetail.product.name }}</li>


                    </ul>
                {% endfor %}
                <hr>

            {% endfor %}


        </section>
    {% endif %}
    <div>
{% endblock %}
