{% extends 'base.html.twig' %}

{% block title %}Citation index{% endblock %}

{% block body %}
{{ dump(posts) }}
    {% for post in posts %}
        <div class="post">
            <h2><a href="{{ post.link }}">{{ post.title['rendered'] }}</a></h2>
            <h2><a href="{{ post.link }}">{{ post.slug }}</a></h2>
            <p class="meta">
                Posted by <a href="#">{{ post.author }}</a>
            </p>
            <div class="entry">
                {{ post.content['rendered']|raw }}
            </div>
        </div>
    {% endfor %}
bleu
{% endblock %}