{% extends 'baseAdmin.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Blog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Publish</th>
                <th>Title</th>
                <th>img</th>
                <th>Author</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.publish ? 'Yes' : 'No' }}</td>
                <td>{{ blog.title }}</td>
                {% if blog.picture %}
                <td><img  src="{{asset('assets/uploads/' ~ blog.picture[0].urlName) }}"  class="img-fluid lp-sm-img"></td>
                {% endif %}
                <td>{{ blog.author.firstName }} {{ blog.author.lastName }}</td>

                <td>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ blog.updatedAt ? blog.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                                    <a href="{{ path('admin_blog_edit', {'id': blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_blog_new') }}">Create new</a>
{% endblock %}
