{% extends 'baseAdmin.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
<div class="col-10 lp-admin-container">
    <h1>Tous les articles</h1>

    <a class="lp-btn" href="{{ path('admin_blog_new') }}">Create new</a>

    <table class="table my-5">
        <thead>
            <tr>

                <th>Publier</th>
                <th>Title</th>
                <th>image</th>
                <th class="lp-author-index">Author</th>
                <th class="lp-created-index" >CreatedAt</th>
                <th class="lp-author-index">UpdatedAt</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>

                <td>{{ blog.publish ? 'Yes' : 'No' }}</td>
                <td>{{ blog.title }}</td>
                {% for picture in blog.picture %}
                {% if picture is not empty and
                    picture.urlName starts with '2020' or
                    picture is not empty and
                    picture.urlName starts with '2021' or
                    picture is not empty and
                    picture.urlName starts with '2022' or
                    picture is not empty and
                    picture.urlName starts with '2023' %}
                <td><img  src="{{asset('assets/uploads/' ~ picture.urlName) }}"  class="img-fluid lp-sm-img"></td>
                {% else %}
                <td><img  src="{{asset('assets/uploads/pictures/mini/250x250-' ~ picture.urlName) }}"  class="img-fluid lp-sm-img"></td>
                {% endif %}
                {% endfor %}
                <td class="lp-author-index">{{ blog.author.firstname }} {{ blog.author.lastname }}</td>

                <td class="lp-created-index">{{ blog.createdAt ? blog.createdAt|date('Y-m-d') : '' }}</td>
                <td class="lp-author-index">{{ blog.updatedAt ? blog.updatedAt|date('Y-m-d') : '' }}</td>
                <td>
                                    <a href="{{ path('admin_blog_edit', {'id': blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_blog_new') }}">Create new</a>
    </div>
{% endblock %}
