{% extends 'base.html.twig' %}

{% block title %}La boutique de Lyvia{% endblock %}

{% block body %}
    <section class="container my-5">
        <ul class="lp-cat-product-list">
            <li><a class="" href="{{ path('boutique_index') }}">Tous</a></li>
            {% for categoryMenu in catProducts %}

                    <li><a class="" href="{{ path('app_cat_product', {'slug': categoryMenu.slug}) }}">{{ categoryMenu.menu }}</a></li>

            {% endfor %}
        </ul>

            <article class="col-md-12">
                <h3 class="text-center">Boutique</h3>
                <div class="row d-flex justify-content-between">
                    {% for product in products %}
                        <div class="col-md-4 lp-card-product text-center ">
                            <a href="{{ path('app_product_show', {'slug': product.slug}) }}">
                                <div class="lp-picture">
                                    <div class="lp-mask"></div>
                                    {% if product.pictures is not empty and
                                        product.pictures[0].urlName starts with '2020' or
                                        product.pictures is not empty and
                                        product.pictures[0].urlName starts with '2021' or
                                        product.pictures is not empty and
                                        product.pictures[0].urlName starts with '2022' or
                                        product.pictures is not empty and
                                        product.pictures[0].urlName starts with '2023' %}
                                        <img  src="{{asset('assets/uploads/' ~ product.pictures[0].urlName) }}"  class="img-fluid" alt="{{ product.name }}">
                                    {% elseif product.pictures is not empty %}
                                        <img  src="{{asset('assets/uploads/pictures/mini/250x250-' ~ product.pictures[0].urlName) }}"  class="img-fluid" alt="{{ product.name }}">
                                    {% endif %}
                                </div>
                                <span class="lp-price" >{{ product.price | number_format(2,',' ,'.')}} €</span>

                                <h2 class="h5">{{ product.name }}</h2></a>
                            <span class="d-block mt-4">{{ product.categoryProduct.name }}</span>
                        </div>

                    {% else %}

                        no records found

                    {% endfor %}
                </div>
            </article>



        </div>
    </section>
{% endblock %}
