{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="container">

    <h1 class="mt-5">{{ blog.title }}</h1>

    <span class="d-block mt-2 mb-5">

        <em>le {{ blog.createdAt ? blog.createdAt|date('d-m-Y') : '' }}</em>
            </span>
    {% if blog.auteur %}
        <em><strong>Auteur : {{ blog.auteur  }} </strong></em>
    {% endif %}
    <div class="lp-float-img lp-modal-content">

            {% if blog.picture is not empty and
                blog.picture[0].urlName starts with '2020' or
                blog.picture is not empty and
                blog.picture[0].urlName starts with '2021' or
                blog.picture is not empty and
                blog.picture[0].urlName starts with '2022' or
                blog.picture is not empty and
                blog.picture[0].urlName starts with '2023' %}
                <img  src="{{asset('assets/uploads/' ~ blog.picture[0].urlName) }}"  class="img-fluid lp-full-gallery" alt="{{ blog.title }}">
            {% elseif blog.picture is not empty %}
                <img  src="{{asset('assets/uploads/pictures/mini/250x250-' ~ blog.picture[0].urlName) }}"  class="img-fluid lp-img-gallery" alt="{{ blog.title }}">
            {% endif %}

            <div class="lp-img-gallery">
                {% for picture in blog.picture %}
                    {% if picture is not empty and
                        picture.urlName starts with '2020' or
                        picture is not empty and
                        picture.urlName starts with '2021' or
                        picture is not empty and
                        picture.urlName starts with '2022' or
                        picture is not empty and
                        picture.urlName starts with '2023' %}
                        <a href="{{asset('assets/uploads/' ~ picture.urlName) }}" class="lp-gallery"><img  src="{{asset('assets/uploads/' ~ picture.urlName) }}"  class="img-fluid" alt="{{ blog.title }}"></a>
                    {% elseif product.pictures is not empty %}
                        <a href="{{asset('assets/uploads/' ~ picture.urlName) }}" class="lp-gallery"><img  src="{{asset('assets/uploads/pictures/mini/250x250-' ~ picture.urlName) }}"  class="img-fluid" alt="{{ blog.title }}"></a>
                    {% endif %}

                {% endfor %}
            </div>

        </div>
    <div class="lp-float-text">
                {{ blog.content| raw }}

    </div>
</div>
        <hr class="clear-float"> <div>
{% include '_includes/comments.html.twig' %}





</div>
    <script src="{{ asset('assets/gallery.js') }}">

    </script>
{% endblock %}