{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="container">
    <div class="row d-flex">
    <h1 class="my-5">{{ blog.title }}</h1>
        <div class="col-4">
            <img class="img-fluid" src="{{ asset('assets/uploads/' ~ blog.picture[0].urlName) }}" alt="">
            <span class="d-block">Author :
                <em>{{ blog.author.firstName }} {{ blog.author.lastName }} </em>
                <em>le {{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</em>
            </span>
        </div>
    <div class="col-8">
                {{ blog.content| raw }}

    </div>
{% include '_includes/comments.html.twig' %}

    <a href="{{ path('app_blog_index') }}">back to list</a>



</div>
    </div>
{% endblock %}