{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>
    <a href="{{ path('admin_product_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><img class="lp-img-admin" src="{{asset('assets/uploads/pictures/mini/150x200-' ~ product.pictures[0].urlName) }}" alt="{{ product.name }}"></td>
                <td>{{ product.name }}</td>

                <td>{{ product.slug }}</td>
                <td>
                    {{ product.description | length > 50 ? product.description|slice(0, 50) ~ '...' : product.description }}
                </td>
                <td>{{ product.price | number_format(2,',' ,'.')  }} €</td>
                <td><a href="{{ path('admin_product_edit', {'slug': product.slug}) }}">edit</a></td>


            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
