{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}
  {% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ asset('assets/js/payment.js') }}"></script>
  {% endblock %}
{% block body %}
    {% set formHtml %}
        <div class="container ">
    <h1 class="text-center">Ma commande</h1>
<p>Merci pour votre commande : <strong>référence {{ order.reference }}</strong> {{ order.user.firstname }} {{ order.user.lastname }}</p><br>
<p>Elle sera livrée à l'adresse suivante :</p>

  <p class="w-25 lp-border">{{order.delivery }}</p>


        <p mt-5>Récapitulatif de la commande</p>
        <div class="w-50 lp-border mb-5">
        {% set total = null %}
        {% for orderDetail in orderDetails %}
            <ul>
                <li class="d-flex justify-content-between mb-1">
                {{ orderDetail.product.name }},

                <span> quantité <strong>{{ orderDetail.quantity }}</strong>
                : <strong>{{ orderDetail.price | number_format(2,',' ,'.')}} €</strong></span>
            </li>
            </ul>
            {% set total = total + (orderDetail.product.price * orderDetail.quantity) %}
{% endfor %}


    {% endset %}
    {{ formHtml|replace ({'[br]' : '<br>'})|raw }}
    <p>Réduction : <strong>{{ order.reductionPrice | number_format(2,',' ,'.')}} €</strong></p>
    <hr>
  <p>Sous total : <strong>{{ order.totalPrice | number_format(2,',' ,'.')}} €</strong></p>
    <p>Frais de transport : <strong>{{ order. carrierPrice| number_format(2,',' ,'.')}} €</strong> avec {{ order.carrierName }}</p>
    <hr>
    <p>Total TTC : <strong>{{ (order.totalPrice + order.carrierPrice)| number_format(2,',' ,'.')}} €</strong></p>
    </div>
    <a class="lp-btn mt-5" href="{{ path('payment_index',{reference : order.reference }) }}">Payement de  {{ (order.totalPrice + order.carrierPrice)| number_format(2,',' ,'.')}} €</a>
    </div>
{% endblock %}