{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}
  {% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ asset('js/payment.js') }}"></script>
  {% endblock %}
{% block body %}
    {% set formHtml %}
        <div class="container ">
    <h1 class="text-center">Ma commande</h1>
<p>Merci pour votre commande : <strong>référence {{ order.reference }}</strong> {{ order.user.firstname }} {{ order.user.lastname }}</p><br>
<p>Elle sera livrée à l'adresse suivante :</p>

  <p class="w-25 lp-border">{{order.delivery }}</p>


        <p mt-5>Récapitulatif de la commande</p>
        <div class="w-50 lp-border mb-5">
        {% set total = null %}
        {% for orderDetail in orderDetails %}
            <ul>

                {{ orderDetail.product.name }}

                {{ orderDetail.quantity }}
                {{ orderDetail.price | number_format(2,',' ,'.')}} €

            </ul>
            {% set total = total + (orderDetail.product.price * orderDetail.quantity) %}
{% endfor %}


    {% endset %}
    {{ formHtml|replace ({'[br]' : '<br>'})|raw }}
  <p>sous total : {{ total | number_format(2,',' ,'.')}} €</p>
    <p>frait de transport : {{ order. carrierPrice| number_format(2,',' ,'.')}} € avec {{ order.carrierName }}</p>
    <p>Total : {{ (total + order.carrierPrice)| number_format(2,',' ,'.')}} €</p>
    </div>
    <a class="lp-btn mt-5" href="{{ path('payment_index',{reference : order.reference }) }}">Payement de  {{ (total + order.carrierPrice)| number_format(2,',' ,'.')}} €</a>
    </div>
{% endblock %}