{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block body %}
    {% set formHtml %}
    <h1>Ma commande</h1>
Merci pour votre commande référence {{ order.reference }} {{ order.user.firstname }} {{ order.user.lastname }}<br>
Elle sera livrée à l'adresse suivante :<br>
    {{order.delivery }}

    <div class="col-md-6">
        Récapitulatif de la commande
        {% set total = null %}
        {% for orderDetail in orderDetails %}
            <ul>

                {{ orderDetail.product.name }}

                {{ orderDetail.quantity }}
                {{ orderDetail.price | number_format(2,',' ,'.')}} €

            </ul>
            {% set total = total + (orderDetail.product.price * orderDetail.quantity) %}
{% endfor %}

    </div>
    {% endset %}
    {{ formHtml|replace ({'[br]' : '<br>'})|raw }}
  <p>sous total : {{ total | number_format(2,',' ,'.')}} €</p>
    <p>frait de transport : {{ order. carrierPrice| number_format(2,',' ,'.')}} € avec {{ order.carrierName }}</p>
    <p>Total : {{ (total + order.carrierPrice)| number_format(2,',' ,'.')}} €</p>

    <a href="{{ path('payment_index',{reference : order.reference }) }}">Payement de  {{ (total + order.carrierPrice)| number_format(2,',' ,'.')}} €</a>
{% endblock %}