{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block body %}
    <h1>Ma commande</h1>

    {% set formHtml %}
{{ form_start(form,{action:path('app_order_recap')}) }}
{{ form_label(form.adresses, 'choississez votre adresses de livraison') }}
        <a href="{{ path('account_address_add') }}">Ajouter une nouvelle adresse</a>
{{ form_row(form) }}
{{ form_end(form) }}
    {% endset %}
    {{ formHtml|replace ({'[br]' : '<br>'})|raw }}


<div class="col-md-6">
    Récapitulatif de la commande
    {% for item in items.data %}
        <ul>
            <li>{{ item.product.name }}</li>
            <li>{{ item.quantity }}</li>
            <li>{{ item.product.price  | number_format(2,',' ,'.')}} €</li>
        </ul>

    {% else %}
        <tr>le panier est vide</tr>
    {% endfor %}
    <p>Total: {{ items.total | number_format(2, ',', '.') }} €</p>
</div>
{% endblock %}