{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block body %}
{{ dump(order) }}
    <section class="container">

<p class="text-center h5">Félicitations <strong>{{ order.user.firstname }}</strong>, vous avez réussi le payement ! </p>
        <p class="text-center h5">Votre numéro de commande est le <strong>{{ order.reference }}.</strong></p>
        <p class="text-center h5">Vous recevrez un mail de confirmation à l'adresse <strong>{{ order.user.email }}.</strong></p>
        <p class="text-center h5">Vous pouvez suivre l'avancement de votre commande sur <a href="{{ path('account_order', {reference: order.reference}) }}">cette page</a>.</p>



       <p class="text-center h5">Vous pouvez retourner sur <a href="{{ path('account') }}">votre compte</a>.</p>


    </section>
{% endblock %}